.button{
    font-size: 14px;
    background: rgb(255, 198, 0);
    color: black;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 198, 0);
}
.button:hover{
    background: rgb(223, 175, 1);
    border: 1px solid rgb(223, 175, 1);
}