.title {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 22px;
}
.des {
  font-size: 18px;
  line-height: 1.9;
}
.custom-image {
  width: 100%;
  height: 400px;
  padding-bottom: 50%; /* This value should be the aspect ratio height / width * 100% */
  object-fit: cover; /* or "contain" depending on your preference */
}
.home{
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 767px) {

  .containerA {
    width: 100%;
    padding: 10px;
    margin-left: 70px;
  }
  .width{
    width: 100%;
  }
}